@import "/src/styles/variables.scss";

.App {
    padding: 5% 10% 5% 10%;

    @media #{$medium} {
        font-size: 16px;
        padding: 5% 5% 5% 5%;
    }
}

.App__Contacts {
    margin: 16px 0 24px 0;
}

.App__Sections {
    @media #{$large} {
        display: flex;
    }
}
