@import "../variables.scss";

.Section {
  padding-bottom: 40px;
}

.Section-content {
  font-size: 1rem;
  padding: 0px 0px;
  background: var(--grey-light);
}

.Section-title {
  color: #333;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 1.4em;
}

.Block:not(:last-child) {
  margin-bottom: 20px;
}

.Block-header {
  @media #{$medium} {
    display: flex;
    flex-direction: column;
  }
}

.Block-title {
  margin-right: 12px;
}

.Block-dates {
  font-size: 0.6em;
  opacity: 0.5;
}

.Block-subtitle {
  font-size: 1em;
  color: var(--font-clr-lighter);
}

.Block-description {
  line-height: 1.5;
}
