$small: "only screen and (max-width: 600px)";
$medium: "only screen and (max-width: 1250px)";

:root {
  --primary: #8c9eff;
  --primary-light: #c0cfff;
  --primary-dark: #5870cb;
  --secondary: #ffcdd2;
  --secondary-light: #ffffff;
  --secondary-dark: #cb9ca1;
  --grey-light: #fdfdfd;
  --grey-dark: #f0f0f0;
  --font-clr: rgba(0, 0, 0, 0.8);
  --font-clr-light: rgba(0, 0, 0, 0.6);
  --font-clr-lighter: rgba(0, 0, 0, 0.4);
}
